<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List</h1>
<table border="1">
  <tr>
    <th>View</th>
    <th>Author</th>
    <th>Feedback</th>
  </tr>
  <tr th:each="bucAnh : ${feed}" th:object="${bucAnh}">
    <td th:text="*{view}"></td>
    <td th:text="*{author}"></td>
    <td th:text="*{feedback}"></td>
  </tr>
</table>
<!--<div th:each="feed: ${list}" th:object="${feed}">-->
<!--  <hr>-->
<!--  <span th:text="'+' + *{view} +' ' + *{comment}"></span>-->
<!--  <br>-->
<!--  <span th:text="*{likes + ' likes'}"></span> <a tyle="margin-left: 5px" th:href="@{/updateLike(id=*{id})}">like</a>-->
<!--</div>-->
</body>
</html>