<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Create Employee</h1>
<form th:action="@{/employee/createEmployee}" method="post" th:object="${employee}">
  <table>
    <tr>
      <td>Employee ID</td>
      <td><input type="text" th:field="*{id}"></td>
    </tr>
    <tr>
      <td>Employee Name</td>
      <td><input type="text" th:field="*{name}"></td>
    </tr>
    <tr>
      <td>Employee Birthday</td>
      <td><input type="text" th:field="*{birthDay}"></td>
    </tr>
    <tr>
      <td>Employee ID Card</td>
      <td><input type="text" th:field="*{idCard}"></td>
    </tr>
    <tr>
      <td>Employee Salary</td>
      <td><input type="text" th:field="*{salary}"></td>
    </tr>
    <tr>
      <td>Employee NumberPhone</td>
      <td><input type="text" th:field="*{phone}"></td>
    </tr>
    <tr>
      <td>Employee Email</td>
      <td><input type="text" th:field="*{email}"></td>
    </tr>
    <tr>
      <td>Employee Address</td>
      <td><input type="text" th:field="*{address}"></td>
    </tr>
    <tr>
      <td>User</td>
      <td>
        <select th:field="*{user}">
          <option th:each="u : ${user}" th:value="${u.userName}" th:text="${u.userName}"/>
        </select>
      </td>
    </tr>
    <tr>
      <td>Position</td>
      <td>
        <select th:field="*{position}">
          <option th:each="p : ${position}" th:value="${p.id}" th:text="${p.name}"/>
        </select>
      </td>
    </tr>
    <tr>
      <td>Division</td>
      <td>
        <select th:field="*{division}">
          <option th:each="d : ${division}" th:value="${d.id}" th:text="${d.name}"/>
        </select>
      </td>
    </tr>
    <tr>
      <td>Education Degree</td>
      <td>
        <select th:field="*{educationDegree}">
          <option th:each="e : ${educationDegree}" th:value="${e.id}" th:text="${e.name}"/>
        </select>
      </td>
    </tr>

  </table>
  <input type="submit" value="Create Employee"/>
</form>
</body>
</html>