<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Create new Product</title>
</head>
<body>
<h1>Create new product</h1>
<form th:action="@{/product/create}" method="post">
    <table>
        <tr>
            <td>ID</td>
            <td th:if="${action == 'create'}">
                <input type="text" th:field="*{product.id}"/>
            </td>
            <td th:if="${action == 'edit'}">
                <span th:text="*{product.id}"></span>
                <input type="hidden" th:field="*{product.id}"/>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{product.name}"/></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input type="text" th:field="*{product.quantity}"/></td>
        </tr>
        <tr>
            <td>Cost</td>
            <td><input type="text" th:field="*{product.cost}"/></td>
        </tr>
        <tr>
            <td>Decription</td>
            <td><input type="text" th:field="*{product.description}"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Create">
            </td>
        </tr>
    </table>
    <input type="hidden" name="action" th:value="${action}">
</form>
</body>
</html>