<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3  th:if="${error}" th:text="${error}"></h3>
<form th:action="@{/bookU/borrow} " method="post" th:object="${bookUser}">
    <input type="hidden" th:value="${bookUser.id}" th:attr="name='id'" />
<!--    ten id nay lay o entity BookUser-->
    <input type="hidden" th:value="${book.idBook}" th:attr="name='book'">
    <table>
        <tr>
            <td>ID Book</td>
            <td th:text="${book.idBook}">
<!--                <input type="hidden" id="book" name="book" th:value="*{book}">-->
            </td>
        </tr>
        <tr>
            <td>Code</td>

            <td th:text="*{id}">
<!--                <input type="hidden" id="id" name="id" th:field="*{id}">-->
            </td>

        </tr>
        <tr>
            <td>ID User</td>
            <td><input type="text"  th:field="*{user.idUser}"></td>
        </tr>
    </table>
    <input type="submit" value="Borrow">
</form>
</body>
</html>